body {
    background-image: url("../assets/dachshund-bg.png");
    background-color: #f8f9fa;
   }
.main-logo {
    width: 15em;
}
.odd-item {
    flex-direction: row-reverse;
}
.product > img {
    display: block;
    block-size: 20em;
    margin-left: 0;
    margin-right: auto;
}
.product{
    text-align: left;
}
.product { transition: all .2s ease-in-out; }
.product:hover { transform: scale(1.1);
z-index: 2;}
footer {
 margin-top: 5em;   
}
.family-pic {
    width: 50%;
}
.entry {
    text-align: left;
}
.odd-item {
    text-align: right;
}